
/*/////////////////////////*/

body{
    background-color : #212529;
}

video {
    transform: rotateY(180deg); 
}

.select {
    height: 30px;
}

.h-90 {
    height: 85% !important;
}

.h-10 {
    height: 8% !important;
}

.col {
    color: #fff;
}


#peerVideo:hover {
    opacity: 0.5;
}

input[type=checkbox]:checked + span {
    color:#212529 !important;
    font-weight:bold;
}


.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%, -50%);
}


/************************** Navbar for Additonal Features **************************/
.btn{
    border-radius: 6.25rem;
    position: relative;
   }
   
.btn-blue{
       background-color: #fff;
       color: #212529;
}
   
.btn:hover{
       opacity: 0.5;
}

.last-block{
    text-align: center;
    overflow: hidden;
    background-color: rgb(164, 191, 216);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}




